*.bin
*.con
*.o
*.out
*.wel
run
*.20
*.m
T0*
*.aka
*.plo
*.pot
*.vpp
*.wplo
.vscode
__pycache__
2.0*
log
*.log
start.dat
dis.dat
build
Release/
Debug/
run
CMakeLists.txt.user
*.code-workspace
*.png
ftes_*
ztes_*
skys_*
dish_*
