# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# My stuf
*.bin
*.con
*.o
*.out
*.wel
run
*.20
*.m
T0*
*.aka
*.plo
*.pot
*.vpp
*.wplo
.vscode
__pycache__
2.0*
log
*.log
start.dat
dis.dat
build-*
Release/
Debug/
run
CMakeLists.txt.user
*.code-workspace
ftes_*
ztes_*
skys_*
dish_*
ftes
ztes
skys
dish
out/
.idea/
signac.rc
workspace/
