projectile n
element {{element}}
mass {{mass}}
energy energy.in
radialmodel 1
ldmodel 3
expmass y
massmodel 2
jlmomp y
jlmmode 0
strength 4
gnorm 1.
alphaomp 5
phmodel 2
twocomponent y
preequilibrium y
fission n
giantresonance n
channels y
astro {{astro}}
astrogs n
components y
elow 1.0e-06
transeps 1.0e-30
xseps 1.0e-30
popeps 1.0e-30
outbasic n
