l6       =   {{ "%-20s"|format('10')         }} ! output file
n0f      =   {{ "%-20s"|format('20   20')    }} ! number of oscillator shells
b0       =   {{ "%-20s"|format('-1.6280835') }} ! oscillator parameter (fm**-1) of basis
maxi     =  {{ "%-21s"|format('800')         }} ! maximal number of iterations
xmix     =   {{ "%-20s"|format('0.2')        }} ! annealing parameter
{{ "%-33s"|format(param.XA)                  }} ! nucleus under consideration
