{% include 'ground.j2' %}
Fixedgap = {{ "%-22s"|format('00.000    00.000') }} ! Frozen Gapparmeter for neutr. and proton
GA       = {{ "%-22s"|format('00.000    00.000') }} ! Pairing-Constants GG = GA/A
Init.Gap = {{ "%-22s"|format('01.000    01.000') }} ! Initial values for the Gap parameters
ivpair   =   {{ "%-20s"|format('1')              }} ! pair. ME: 0 read, 1 calc. 2 only calc.
vfac     =  {{ "%-21s"|format('1.15')            }} ! vpair multiplication
blocking:   {{ "%-21s"|format('0  2  1  1')      }} ! Blocking neutrons: y/n, j, ip, nr
blocking:   {{ "%-21s"|format('0  0  0  0')      }} ! Blocking protons:  y/n, j, ip, nr
