<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <tr class="is-selected">
        <th>Transition</th>
        <th>Amplitude</th>
    </tr>
    {% for row in table %}
    <tr>
        {% autoescape false %}
        <td>{{row.transition}}</td>
        {% endautoescape %}
        <td>{{row.amplitude}}</td>
    </tr>
    {% endfor %}
</table>
