<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dipole Transitions</title>
    <link rel="stylesheet" href="../../src/templates/bulma.css"/>
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">{{ title }}</h1>
        {% for s in sections %}
            <h2 class="subtitle">T = {{ s.temperature }} MeV</h2>
            <figure class="image is-3by1"><img src="{{ s.inset }}"></figure>
            {{ s.table }}
        {% endfor %}
    </div>
</section>
</body>
</html>
