<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dipole Transitions</title>
    <link rel="stylesheet" href="bulma.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        N = 86
      </h1>
      <p class="subtitle">
        T = 0 MeV
      </p>
      <div class="columns">
  <div class="column">
    Transition energy E = 6.03 MeV
    <figure class="image image is-3by1">
  <img src="c738f3809c26191da8aa935cee627379_inset.png">
</figure>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <tr class="is-selected">
        <th>Transition</th>
        <th>Amplitude</th>
    </tr>
        <tr>
                <td>&pi;1g<sub>9&frasl;2</sub>&rarr;&pi;1h<sub>11&frasl;2</sub></td>
                <td>0.41</td>
    </tr>
     </table>
  </div>
  <div class="column">
    Transition energy E = 7.97 MeV
    <figure class="image image is-3by1">
  <img src="b2a98e75404b2f2551dd82435e6bf0b0_inset.png">
</figure>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <tr class="is-selected">
        <th>Transition</th>
        <th>Amplitude</th>
    </tr>
        <tr>
                <td>&pi;1g<sub>9&frasl;2</sub>&rarr;&pi;1h<sub>11&frasl;2</sub></td>
                <td>0.41</td>
    </tr>
     </table>
  </div>
  <div class="column">
    Transition energy E = 8.27 MeV
    <figure class="image image is-3by1">
  <img src="1fbdaab9830125f89475169e1c2442d6_inset.png">
</figure>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <tr class="is-selected">
        <th>Transition</th>
        <th>Amplitude</th>
    </tr>
        <tr>
                <td>&pi;1g<sub>9&frasl;2</sub>&rarr;&pi;1h<sub>11&frasl;2</sub></td>
                <td>0.41</td>
    </tr>
     </table>
  </div>
</div>
      <p class="subtitle">
        T = 2 MeV
      </p>
      <div class="columns">
  <div class="column">
    Transition energy E = 3.85 MeV
    <figure class="image image is-3by1">
  <img src="a40149f52b09c08330f6c3d32823e089_inset.png">
</figure>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <tr class="is-selected">
        <th>Transition</th>
        <th>Amplitude</th>
    </tr>
        <tr>
                <td>&pi;1g<sub>9&frasl;2</sub>&rarr;&pi;1h<sub>11&frasl;2</sub></td>
                <td>0.41</td>
    </tr>
     </table>
  </div>
  <div class="column">
    Transition energy E = 6.19 MeV
    <figure class="image image is-3by1">
  <img src="857aa6d421d7feef7c9ce5921e76bda9_inset.png">
</figure>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <tr class="is-selected">
        <th>Transition</th>
        <th>Amplitude</th>
    </tr>
        <tr>
                <td>&pi;1g<sub>9&frasl;2</sub>&rarr;&pi;1h<sub>11&frasl;2</sub></td>
                <td>0.41</td>
    </tr>
     </table>
  </div>
  <div class="column">
    Transition energy E = 7.78 MeV
    <figure class="image image is-3by1">
  <img src="8394d44b4da22214c6d8aa6a7f74080f_inset.png">
</figure>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <tr class="is-selected">
        <th>Transition</th>
        <th>Amplitude</th>
    </tr>
        <tr>
                <td>&pi;1g<sub>9&frasl;2</sub>&rarr;&pi;1h<sub>11&frasl;2</sub></td>
                <td>0.41</td>
    </tr>
     </table>
  </div>
</div>
    </div>
  </section>
  </body>
</html>
